.header{
  display: flex;
  justify-content: space-between;
}
.header__burger{
  min-width: 10%;
  min-height: 10%;
}
.header__burger__drawer_actif::before{
  content: "";
  position: fixed;
  right: 3em;
  top: 2.5em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}
.header__burger__drawer_hiden::before{
  content: "";
  position: fixed;
  right: 3em;
  top: 2.5em;
  width: 1em;
  height: 0.15em;
}
.header__burger__list_hiden{
  display: none;
}