.carouselle__item__image{
  max-width: 600px;
  max-height: 600px;
}
.carousel__item--disactive{
  display: none !important;
}
.carouselle__item__section{
  display: flex;
}
.--active{
  display: initial !important;
}
.carouselle__item__image__container{
  display: none;
}
.carousell__iteme__botom_dot{
  display: none;
}